
@{
    ViewBag.Title = "VisualizarEventos";
    Layout = "~/Views/Shared/_Layout_Fundacao.cshtml";
}
@section titulo
<title>FTEC Donation - Fundacao - Visualizar Eventos</title>
}


@section conteudo
{


    <h2>VisualizarEventos</h2>

}