
@{
    ViewBag.Title = "VisualizarFundacoes";
    Layout = "~/Views/Shared/_Layout_Fundacao.cshtml";
}
@section titulo
<title>FTEC Donation - Fundacao - Visualizar Fundaçõess</title>
}

@section conteudo
{

    <h2>Visualizar Fundações</h2>

}