
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo Vonluntario</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/scrolling-nav.css" rel="stylesheet" />

</head>
<body>
    <div class="form-group col-md-6 mx-auto">
        <h1>Cadastro de Vonluntarios</h1>
    </div>

    <div class="form-group col-md-6 mx-auto">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4" class="col-form-label">Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4" class="col-form-label">Senha</label>
                    <input type="password" class="form-control" id="Senha" placeholder="Senha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName4" class="col-form-label">Nome</label>
                    <input type="text" class="form-control" id="CFEmail" placeholder="Nome">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName4" class="col-form-label"> Sobrenome</label>
                    <input type="text" class="form-control" id="Senha" placeholder="Sobrenome">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="col-form-label">Endereço</label>
                <input type="text" class="form-control" id="Endereco" placeholder="Rua São Jose, 2241 Pio X Caxias do Sul RS">
            </div>
            <button type="submit" class="btn btn-sucefull  ">Registar</button>
        </form>
    </div>

        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.easing.min.js"></script>
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/popper.min.js"></script>
        <script src="~/Scripts/scrolling-nav.js"></script>
</body>
</html>
