
@{
    ViewBag.Title = "Doar";
    Layout = "~/Views/Shared/_Layout_Voluntario.cshtml";
}
@section titulo
{
    <title>FTEC Donation - Voluntario - Doar</title>
}

@section conteudo
{

<h2>Doar</h2>

<!-- FORMULARIO DE DOAÇÃO .... -->
}