
@{
    ViewBag.Title = "VisualizarEventos";
    Layout = "~/Views/Shared/_Layout_Voluntario.cshtml";
}
@section titulo
{
    <title>FTEC Donation - Voluntario - Visualizar Eventos</title>
}
@section conteudo
{

<h2>VisualizarEventos</h2>

<!-- LISTAR EVENTOS -->

    }